[Desktop Entry]
Name=LabelPlusFX
GenericName=Text Editor
Comment=Easy comic translation tool
TryExec=labelplusfx
Exec=labelplusfx
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=labelplusfx
Categories=Utility;TextEditor;
StartupNotify=true
